.header-toolbar {
    cursor: pointer;
    position: relative;
  }

  .options {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fdf8f8;
    border: 1px solid #f6f0f0;
    padding: 5px;
    z-index: 1;
  }